@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');


:root {
  --color-p1: #2D2D2D;
  --color-p2: #FFF;
  --color-p3: #009379;
}

* {
  font-family: Epilogue;
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  
}


.dark_mode  {
  background: var(--color-p1);
  color: var(--color-p2);
  h1, h2, h3, h4, h5, h6, p, span, a, li, ul, button {
    color: var(--color-p2);
  }
  button {
    background: var(--color-p2);
    border: 5px solid var(--color-p2);
    color: var(--color-p1);
  }
  button:hover {
    background: var(--color-p2);
    border: 5px solid var(--color-p3);
    color: var(--color-p1);
  }

}


.light_mode {
  background: var(--color-p2);
  color: var(--color-p1);
}
