
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 6em;
  width: 6em;
  animation: filter 2s forwards alternate;
  cursor: pointer;
  transition: .3s ease-out;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #64ffcb83);
}

@keyframes filter {

  0% {
    width: 500rem;
    height: 500rem;
  }

  50% {
    width: 100em;
    height: 100em;
  }

  100% {
    width: 6em;
    height: 6em;
  }

}

